@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "burtons";
  src: url("../public/Burtons.otf");
}

/* Add this CSS to your stylesheet */
.projectBox {
  position: relative;
  overflow: hidden;
}

.projectBox:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8); /* Adjust the transparency as needed */
  z-index: 1;
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff; /* Text color */
  font-size: 24px; /* Adjust the font size as needed */
  font-style: italic;
  z-index: 2;
  text-align: center;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add a smooth transition effect */
}

.projectBox:hover .overlay-text {
  opacity: 1; /* Show the text on hover */
}

.link-wrapper {
  position: relative;
  overflow: hidden;
  display: block; /* Ensure the link takes the entire space of the parent div */
}

.projectList {
  background: #d7d7d7;
  background: -webkit-linear-gradient(296deg, #d7d7d7 0%, #eeeeee 100%);
  background: linear-gradient(296deg, #d7d7d7 0%, #eeeeee 100%);
}

